{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

    <!-- The justified navigation menu is meant for single line per list item.
Multiple lines will require custom code not provided by Bootstrap. -->
    <div class="masthead">
        <h3 class="text-muted">Alicia's Motor Sales</h3>
        <nav>
            <ul class="nav nav-tabs">
                <li class="active"><a href="/">Home</a></li>
            </ul>
        </nav>
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h2>Find Your Next Car, Boat, Truck, RV or Other Motor Today!</h2>
        <p class="lead">Browse all of our inventory here</p>
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4">
            <h2>Listing 1</h2>
            <p>Listing 1 Description</p>
            <p><a class="btn btn-primary" href="/listings/1111" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Listing 2</h2>
            <p>Listing 2 Description. This can be a super long description...Something super random like this text.
                But it could be really really specific like talking about the Big Bang Theory Episode I'm watching right now.
            </p>
            <p><a class="btn btn-primary" href="/listings/1234" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Listing 3</h2>
            <p>Yet another listing. This one might have a medium length description.</p>
            <p><a class="btn btn-primary" href="/listings/3235" role="button">View details &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h2>Listing 4</h2>
            <p>What happens to the 4th listing? Does this go to the next line? I have to define another row after 3 listings.</p>
            <p><a class="btn btn-primary" href="/listings/5832" role="button">View details &raquo;</a></p>
        </div>
    </div>
</div>
{% endblock %}
